{% extends 'base.html.twig' %}

{% block body %}
    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>We appriciate your wish to become part of Jobbery family. </h2>
                    <p class="lead"> Confirmation email was sent to email address, provided as part of subscription process. Please confirm your email address by clicking on the link in the email.</p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
{% endblock %}
