{% extends 'base.html.twig' %}

{% block body %}
    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Hello {{ name|capitalize }} {{ lastname|capitalize }} <br> It seems you are already a member of Finsensitive.com family. </h2>
                    <p class="lead"> If you wish to unsubscriber, please use link below and complete 2 step unsubscription process. In case of any questions, feel free to reach out 
                           to us using contact form below or sending an email to support@finsensitive.com</p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
{% endblock %}{# empty Twig template #}
